.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}

.flex-container {
    display: flex;
}

.profile-pic-container {
    flex: 1;
    /* border: 1px solid magenta; */
    text-align:right
}

.text-note-container {
    flex: 6;
    /* border: 1px solid magenta; */
    text-align:left;
    border-bottom: 1px solid gray;
    overflow:scroll;
    display: flex;
    flex-direction: column;
}

.text-note-right-panel {
    flex: 1;
    /* border: 1px solid magenta; */
    text-align:left
}

.reactions-container {
    margin-top: auto;
    /* position: absolute;
    bottom: 0px; */
}

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 70%;
    padding-right: 20px;
}