.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  

.flex-container {
    display: flex;
}

.flex-profile-pic {
    flex: 1;
    border: 1px solid magenta;
}  

.flex-text-note {
    flex: 6;
    border: 1px solid magenta;
}  