.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}

.note-container {
    display: flex;
    flex: 8 0 0
}

.profile-pic-container {
    /* flex: 1; */
    /* border: 1px solid magenta; */
    text-align: right
}

.text-note-container {
    flex: 10 0 0;
    /* border: 1px solid magenta; */
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

}

.text-note {
    margin-left: 10px
}

.text-note-right-panel {
    flex: 1;
    /* border: 1px solid magenta; */
    text-align: left
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.reactions-container {
    margin-top: auto;
    animation: blink 1s linear 2;
    /* position: absolute;
    bottom: 0px; */
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 70%;
    margin-right: 20px;
    margin-top: 15px;
}

.main-container {
    display: flex
}

.left-panel {
    flex: 2 0 0;
    background-color: black;
    display: flex;
    flex-direction: column;

    align-items: center;
    /* justify-content: center; */
    padding-top: 40px;
}

.right-panel {
    flex: 6 0 0;
    overflow: scroll;
    margin-left: 15px;
}

.notes-container {
    /* flex: 6 0 0;
    overflow: scroll;
    margin-left: 15px; */
}

.left-panel-item {
    color: white;
}

#username {
    color: #9b9ba5;
    font-size: 12px;
}

#display-name {
    margin-left: 5px;
    color: #9e737b;
    font-size: 12px;
}

#note-age {
    margin-left: 5px;
    font-size: 12px;
}

.profile {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.profile .pic-container {}

.profile .profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 70%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
}

.profile .info-container {
    flex: 8;
}

.profile .about {
    margin-top: 20px
}

.thread-container .note {
    margin-left: 30px;
}

.thread-container .note-no-parent {
    margin-left: 0px;
}

.thread-container .reply {
    margin-left: 100px;
}

.text-note-properties {
    display: flex;
}

.replies-count {
    margin-right: 10px;
}

.button-back {
    font-size: 30px;
    cursor: pointer;
}